 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/-min1-28.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 616px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 269px 378px 0 21px;
}

.u-section-1 .u-text-2 {
  margin: 7px 89px 60px 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 199px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 292px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 184px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 410px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 25px auto 0 25px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 19px 10px 0 25px;
}

.u-section-2 .u-image-1 {
  min-height: 409px;
  background-image: url("images/-min.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 30px 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 338px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 259px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 258px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 682px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 581px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 467px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 366px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 703px;
}

.u-section-3 .u-text-1 {
  margin: 46px 0 1px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 766px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 558px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 47px auto 0;
}

.u-section-4 .u-list-1 {
  height: auto;
  width: 1060px;
  margin: 20px auto 34px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-gap: 10px 10px;
  min-height: 414px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-4 .u-group-1 {
  width: 403px;
  min-height: 144px;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-4 .u-text-2 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-4 .u-group-2 {
  width: 403px;
  min-height: 144px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-4 .u-text-4 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-4 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-4 .u-group-3 {
  width: 403px;
  min-height: 144px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-4 .u-text-6 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-4 .u-text-7 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-4 .u-group-4 {
  width: 403px;
  min-height: 144px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-4 .u-container-layout-8 {
  padding: 0 30px 30px;
}

.u-section-4 .u-text-8 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
}

.u-section-4 .u-text-9 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    width: 333px;
    min-height: 169px;
  }

  .u-section-4 .u-group-2 {
    width: 333px;
    min-height: 169px;
  }

  .u-section-4 .u-group-3 {
    width: 333px;
    min-height: 169px;
  }

  .u-section-4 .u-group-4 {
    width: 333px;
    min-height: 169px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-4 .u-group-2 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-4 .u-group-3 {
    width: 224px;
    min-height: 199px;
  }

  .u-section-4 .u-group-4 {
    width: 224px;
    min-height: 199px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-1 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-2 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-3 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-group-4 {
    width: 160px;
    min-height: 248px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    margin-top: 92px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-group-1 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 29px;
  }

  .u-section-4 .u-group-2 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 29px;
  }

  .u-section-4 .u-group-3 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-bottom: 29px;
  }

  .u-section-4 .u-group-4 {
    width: 235px;
    min-height: 174px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-bottom: 29px;
  }
}