 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/3955ada17b19d3baa14385c4686eb705b8ce26597106a07daf1e92664127f288c347f9a625e30343990775d9f4cb31931258f21ac465e1ddf50a9f_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 432px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 75px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 126px auto 0 135px;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-scale: 1;
  margin: 0 174px 60px 140px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 74px;
    margin-left: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 205px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 129px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 85px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 469px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 409px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 75px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 33px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 33px 120px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 409px;
  background-image: url("images/6c216d1ec7dde26eb7226de74b876f629696175312963a6cacec308ac5185628b873299120c776d9531fcaf6243be032051f58d99db3b51d2004b0_1280.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-2 .u-image-1 {
    min-height: 581px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 366px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 675px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-translate_x: 0px;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 678px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 21px 0 0;
}

.u-section-4 .u-accordion-1 {
  width: 936px;
  margin: 40px auto 50px;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-4 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 687px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-6 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-4 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 779px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  margin: 0;
}

.u-section-4 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-10 {
  margin: 20px 0 0;
}

.u-section-4 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-4 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 779px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-11 {
  margin: 0;
}

.u-section-4 .u-text-12 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-14 {
  margin: 20px 0 0;
}

.u-section-4 .u-accordion-item-4 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-4 .u-accordion-link-4 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: none;
  font-weight: 700;
  padding: 20px;
}

.u-section-4 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-4 .u-accordion-pane-4 {
  min-height: 687px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-15 {
  margin: 0 52px 0 40px;
}

.u-section-4 .u-text-16 {
  margin: 1px 52px 0 40px;
}

.u-section-4 .u-text-17 {
  margin: 21px -40px 0 40px;
}

.u-section-4 .u-text-18 {
  margin: 21px auto 0 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-icon-1 {
    padding: 10px;
  }

  .u-section-4 .u-accordion-pane-1 {
    height: auto;
  }

  .u-section-4 .u-icon-2 {
    padding: 10px;
  }

  .u-section-4 .u-accordion-pane-2 {
    height: auto;
  }

  .u-section-4 .u-icon-3 {
    padding: 10px;
  }

  .u-section-4 .u-accordion-pane-3 {
    height: auto;
  }

  .u-section-4 .u-icon-4 {
    padding: 10px;
  }

  .u-section-4 .u-accordion-pane-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-accordion-1 {
    width: 720px;
  }

  .u-section-4 .u-text-15 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-4 .u-text-16 {
    margin-left: 30px;
    margin-right: 0;
  }

  .u-section-4 .u-text-17 {
    margin-left: 30px;
    margin-right: 0;
  }

  .u-section-4 .u-text-18 {
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-accordion-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-accordion-1 {
    width: 340px;
  }
}