.u-section-1 .u-sheet-1 {
  min-height: 1911px;
}

.u-section-1 .u-image-1 {
  width: 1391px;
  height: 1456px;
  margin: 81px -125px 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  font-weight: 700;
  margin: -1511px 302px 0 334px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 75px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 29px 421px 0 452px;
}

.u-section-1 .u-group-1 {
  width: 849px;
  min-height: 436px;
  margin: 38px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 50px;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3rem;
  background-image: none;
  font-weight: 700;
  margin: 84px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 300;
  margin: 19px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 75px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: normal;
  margin: 30px auto 0 88px;
  padding: 11px 30px 13px 29px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 75px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: normal;
  margin: -71px 88px 0 auto;
  padding: 11px 25px 12px;
}

.u-section-1 .u-image-2 {
  width: 142px;
  height: 142px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 88px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: -230px auto 0;
}

.u-section-1 .u-image-3 {
  width: 104px;
  height: 105px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 54px 298px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 108px;
  height: 105px;
  --animation-custom_in-scale: 1;
  margin: -105px auto 0 294px;
}

.u-section-1 .u-text-6 {
  font-size: 3rem;
  line-height: 0.8;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 75px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 156px -13px 0 43px;
}

.u-section-1 .u-accordion-1 {
  width: 800px;
  margin: 97px auto 60px;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.25rem;
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 32px;
  width: 32px;
  padding: 5px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 529px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-form-1 {
  width: 611px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1417px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 984px;
    margin-left: 0;
    margin-right: 0;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 75px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-text-1 {
    width: 398px;
    margin-top: -1025px;
    margin-left: 234px;
    margin-right: 202px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    animation-duration: 10000ms;
  }

  .u-section-1 .u-text-2 {
    margin-right: 321px;
    margin-left: 352px;
  }

  .u-section-1 .u-text-3 {
    --animation-custom_in-translate_y: 75px;
  }

  .u-section-1 .u-text-4 {
    --animation-custom_in-translate_y: 75px;
  }

  .u-section-1 .u-image-2 {
    animation-duration: 10000ms;
  }

  .u-section-1 .u-text-5 {
    --animation-custom_in-translate_y: 75px;
  }

  .u-section-1 .u-image-3 {
    --animation-custom_in-translate_y: 75px;
  }

  .u-section-1 .u-image-4 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 75px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-1 .u-text-6 {
    animation-duration: 4500ms;
    margin-right: 74px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(153, 153, 153) !important;
  }

  .u-section-1 .u-accordion-pane-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 720px;
    height: 754px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -795px;
    margin-right: 92px;
    margin-left: 124px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 211px;
    margin-left: 242px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 566px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -607px;
    margin-right: 2px;
    margin-left: 34px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 121px;
    margin-left: 152px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-accordion-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1466px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 356px;
    margin-top: 8px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
    margin-top: -325px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 21px;
    margin-left: 52px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-3 {
    margin-right: 236px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 232px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}