.u-section-1 .u-sheet-1 {
  min-height: 1909px;
}

.u-section-1 .u-image-1 {
  width: 1391px;
  height: 1456px;
  margin: 81px -125px 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: normal;
  width: 387px;
  margin: -1512px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 29px 408px 0 467px;
}

.u-section-1 .u-group-1 {
  width: 849px;
  min-height: 436px;
  margin: 39px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 50px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  margin: 84px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 19px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: normal;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0 98px;
  padding: 11px 30px 13px 29px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: normal;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -72px 107px 0 auto;
  padding: 11px 25px 12px;
}

.u-section-1 .u-image-2 {
  width: 142px;
  height: 142px;
  margin: 120px auto 0 388px;
}

.u-section-1 .u-image-3 {
  width: 142px;
  height: 142px;
  margin: -142px 387px 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 3rem;
  margin: -263px auto 0;
}

.u-section-1 .u-image-4 {
  width: 51px;
  height: 51px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 9px 496px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 60px;
  height: 60px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -51px auto 0 364px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 0.8;
  margin: 235px 74px 0 auto;
}

.u-section-1 .u-accordion-1 {
  width: 800px;
  margin: 146px auto 60px;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.25rem;
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 32px;
  width: 32px;
  padding: 5px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 529px;
  background-image: linear-gradient(white, #7f7c82);
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-form-1 {
  width: 611px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1417px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 984px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: 398px;
    margin-top: -1025px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 308px;
    margin-left: 367px;
  }

  .u-section-1 .u-image-2 {
    animation-duration: 10000ms;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(153, 153, 153) !important;
  }

  .u-section-1 .u-accordion-pane-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 720px;
    height: 754px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -795px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 198px;
    margin-left: 257px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 9px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 18px;
  }

  .u-section-1 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 566px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -607px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 108px;
    margin-left: 167px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    margin-right: 489px;
  }

  .u-section-1 .u-accordion-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1466px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 356px;
    margin-top: 8px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -325px;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 8px;
    margin-left: 67px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-2 {
    margin-left: 198px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 198px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-4 {
    margin-right: 289px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 280px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}