 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/-min.jpg");
  background-position: 63.21% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 812px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  width: 770px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 170px auto 0;
}

.u-section-1 .u-text-2 {
  width: 770px;
  margin: 118px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 170px auto 60px;
  padding: 10px 57px 10px 55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 540px;
    margin-top: 90px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
    width: 340px;
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1245px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 80px auto 0;
}

.u-section-2 .u-shape-1 {
  width: 150px;
  height: 47px;
  margin: 40px auto 0;
}

.u-section-2 .u-list-1 {
  width: 979px;
  margin: 48px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  min-height: 302px;
  grid-gap: 22px 22px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-1 {
  padding: 7px 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 20px 2px 0 0;
}

.u-section-2 .u-icon-1 {
  height: 74px;
  width: 74px;
  margin: 62px auto 0 87px;
  padding: 15px;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-2 {
  padding: 7px 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 20px 2px 0 0;
}

.u-section-2 .u-icon-2 {
  height: 74px;
  width: 74px;
  margin: 62px auto 0 87px;
  padding: 15px;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-3 {
  padding: 7px 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 20px 2px 0 0;
}

.u-section-2 .u-icon-3 {
  height: 74px;
  width: 74px;
  margin: 62px auto 0 87px;
  padding: 15px;
}

.u-section-2 .u-list-2 {
  grid-template-rows: auto;
  width: 247px;
  margin: -53px 278px 0 auto;
}

.u-section-2 .u-repeater-2 {
  grid-gap: 0px 0px;
}

.u-section-2 .u-image-1 {
  width: 390px;
  min-height: 642px;
  background-image: url("images/v.png");
  background-position: 50% 50%;
  margin: 84px 81px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 882px;
  height: 474px;
  margin: -558px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
    min-height: 290px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-icon-1 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-icon-2 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-icon-3 {
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(undefined, NaN%);
  }

  .u-section-2 .u-image-2 {
    filter: brightness(0.85);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1158px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 308px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-2 {
    width: 720px;
    height: 387px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 453px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 290px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 954px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 601px;
  }

  .u-section-2 .u-list-2 {
    margin-right: 93px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 183px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1232px;
}

.u-section-3 .u-shape-1 {
  height: 453px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-shape-2 {
  width: 603px;
  height: 597px;
  background-image: none;
  margin: -239px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-shape-3 {
  width: 716px;
  height: 742px;
  background-image: none;
  margin: -756px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-3 .u-image-1 {
  width: 685px;
  height: 575px;
  object-position: 50% 50%;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
  margin: -468px auto 0 calc(((100% - 1140px) / 2) + 97px);
}

.u-section-3 .u-group-1 {
  min-height: 380px;
  width: 614px;
  margin: -848px calc(((100% - 1140px) / 2) + 51px) 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  line-height: 1.2;
  font-family: Montserrat, sans-serif;
  margin: 26px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 22px 0 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: 524px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 202px;
  grid-gap: 30px 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-group-2 {
  width: 90px;
  min-height: 90px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-group-3 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-group-4 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 0;
}

.u-section-3 .u-text-7 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-group-5 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 0;
}

.u-section-3 .u-text-9 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-3 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-shape-3 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 97px);
  }

  .u-section-3 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2) + 51px);
  }

  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 22.5px));
    min-height: 167px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-shape-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-shape-3 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 35px);
  }

  .u-section-3 .u-group-1 {
    margin-right: calc(((100% - 720px) / 2) + 51px);
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 512px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1110px;
  }

  .u-section-3 .u-shape-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-shape-3 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 453px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-top: -726px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 942px;
  }

  .u-section-3 .u-shape-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-shape-3 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 285px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: -558px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: none;
  min-height: 507px;
}

.u-section-4 .u-shape-1 {
  height: 327px;
  background-image: none;
  width: calc(((100% - 1140px) / 2) + 732px);
  margin: 140px 0 0 auto;
}

.u-section-4 .u-layout-wrap-1 {
  width: 984px;
  margin: -467px auto 15px calc(((100% - 1140px) / 2) + 63px);
}

.u-section-4 .u-layout-cell-1 {
  min-height: 492px;
}

.u-section-4 .u-container-layout-1 {
  padding: 14px 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  margin: 143px 137px 0 -67px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 492px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-2 {
  font-family: "Abril Fatface";
  font-size: 3rem;
  margin: 0 184px 0 -291px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 7.5rem;
  margin: 42px 30px 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 60px 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 478px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 732px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 128px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 470px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 732px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 578px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 732px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 732px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
  }
}
body {
  font-family: 'Signika', sans-serif;
}
.bg-grey {
  background: #292929;
}
.logo-footer {
  margin-bottom: 40px;
}
footer {
      color: grey;
}
footer p, a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}
footer h6 {
font-family: 'Playfair Display', serif;
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: grey;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
.btn-footer {
           color: grey;
        
          text-decoration: none;
          border: 1px solid;
          border-radius: 43px;
          font-size: 13px;
          padding: 7px 30px;
          line-height: 47px;
}
.btn-footer:hover {
          
          text-decoration: none;
         
}
.form-footer input[type="text"] {
  border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
  margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
.social .fa {
color: grey;
font-size: 22px;
padding: 10px 15px;
background: #3c3c3c;
}
footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: grey;
text-decoration:none;
}
a:hover {
text-decoration: none;
color: #f5f5f5 !important;

}
.logo-part {
border-right: 1px solid grey;
height: 100%;
}


@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,700);
		body{
			background: #333;
			font-family: 'Roboto Slab', sans-serif;
			font-weight: 300;
			overflow: hidden;
		}
		.rotate-slider{
			margin: 5em auto;
			height: 360px;
			/* overflow: hidden; */
			width: 480px;
		}
		.rotate-slider ul.slides{
			height: 100%;
			margin: 0;
			overflow: hidden;
			padding: 0;
			position: relative;
				top: 0;
				left: 50%;
			-ms-transform-origin: center center;
			transform-origin: center center;
			width: 100%;
		}
		.rotate-slider ul.slides.animate{
			-webkit-transition: all 0.75s ease-in-out;
			transition: all 0.75s ease-in-out;
		}
		.rotate-slider ul.slides li{
			background-position: center;
			background-size: cover;
			display: block;
			color: #fff;
			list-style: none;
			position: absolute;
				top: 0;
				left: 50%;
			text-align: center;
			-ms-transform-origin: bottom center;
			transform-origin: bottom center;
			width: 100%;
		}
		.rotate-slider ul.slides li:nth-of-type(1){background: #3498db;}
		.rotate-slider ul.slides li:nth-of-type(2){background: url('http://static.pexels.com/wp-content/uploads/2014/05/car-oldtimer-snow-342-825x550.jpg');}
		.rotate-slider ul.slides li:nth-of-type(3){background: #e74c3c;}
		.rotate-slider ul.slides li:nth-of-type(4){background: url('http://static.pexels.com/wp-content/uploads/2014/06/analog-camera-old-olympus-om-10-1528-825x550.jpg');}
		.rotate-slider ul.slides li:nth-of-type(5){background: #f1c40f;}
		.rotate-slider ul.slides li:nth-of-type(6){background: url(http://static.pexels.com/wp-content/uploads/2014/06/bridge-city-night-645-827x550.jpg);}
		.rotate-slider ul.slides li .inner{
			box-sizing: border-box;
			padding: 2em;
			height: 100%;
			width: 100%;
		}