 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 517px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 173px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 75px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 67px auto 60px;
  padding: 12px 20px 13px 19px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 577px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: -70px 249px 0 89px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 75px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 33px 249px 0 89px;
}

.u-section-2 .u-icon-1 {
  width: 214px;
  height: 214px;
  margin: -267px 20px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 75px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 73px auto 56px;
  padding: 12px 47px 13px 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    animation-duration: 10000ms;
  }

  .u-section-2 .u-text-2 {
    margin-right: 138px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 138px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 521px;
}

.u-section-3 .u-icon-1 {
  width: 242px;
  height: 242px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 140px 54px 0 auto;
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: -340px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: -70px 249px 0 89px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 33px 373px 0 89px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 20px auto 43px;
  padding: 12px 47px 13px 46px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-icon-1 {
    margin-top: 129px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -497px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 182px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 161px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -529px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 42px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 193px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -561px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 420px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -634px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 18px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 773px;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 153px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -129px 570px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-4 .u-image-2 {
  width: 570px;
  height: 387px;
  margin: 39px auto 0 0;
}

.u-section-4 .u-image-3 {
  width: 570px;
  height: 387px;
  margin: -386px auto 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-3 {
    margin-left: 370px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 145px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -5px;
    margin-right: 170px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 30px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 366px;
    margin-top: 27px;
  }

  .u-section-4 .u-image-3 {
    width: 540px;
    height: 366px;
    margin: -365px 0 2px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 91px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 35px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 63px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 230px;
    margin-top: 40px;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 230px;
    margin-top: -229px;
    margin-bottom: 0;
  }
}