 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 496px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 173px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 75px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 67px auto 60px;
  padding: 12px 20px 13px 19px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 543px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 332px;
  height: 291px;
  margin: -14px 0 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: -347px 249px 0 89px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 75px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 33px 249px 0 89px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 75px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 54px;
  padding: 12px 47px 13px 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: -142px;
    animation-duration: 10000ms;
  }

  .u-section-2 .u-image-1 {
    margin-top: 37px;
    animation-duration: 6000ms;
  }

  .u-section-2 .u-text-2 {
    margin-top: -445px;
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-top: 101px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -509px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 12px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 132px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -491px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 53px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 520px;
}

.u-section-3 .u-icon-1 {
  width: 304px;
  height: 304px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 101px 49px 0 auto;
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: -364px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: -70px 249px 0 89px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 33px 373px 0 89px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  margin: 20px auto 42px;
  padding: 12px 47px 13px 46px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-icon-1 {
    margin-top: 129px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -497px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 182px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 161px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -529px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 42px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 193px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -561px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 420px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -634px;
  }

  .u-section-3 .u-btn-1 {
    margin-bottom: 18px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 545px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 31px;
  margin-bottom: 46px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-gap: 22px 22px;
  min-height: 381px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  margin-left: 0;
  margin-right: 1px;
  margin-top: 30px;
  font-style: italic;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-4 .u-text-5 {
  margin-left: 0;
  margin-right: 1px;
  margin-top: 30px;
  font-style: italic;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-4 .u-text-7 {
  margin-left: 0;
  margin-right: 1px;
  margin-top: 30px;
  font-style: italic;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}