 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1009px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 3.75rem;
  font-weight: 700;
  margin: 140px auto 0;
}

.u-section-1 .u-blog-1 {
  margin: 39px 0 26px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  grid-gap: 22px 22px;
  min-height: 632px;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  width: 279px;
  right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 280px;
  min-height: 297px;
  background-size: auto;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 10px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 0 0 10px;
}

.u-section-1 .u-text-4 {
  font-size: 0.75rem;
  margin: 24px 0 0 10px;
}

.u-section-1 .u-repeater-item-2 {
  background-size: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-image-2 {
  width: 279px;
  right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-group-2 {
  width: 280px;
  min-height: 297px;
  background-size: auto;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: 0 10px;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: 20px 0 0 10px;
}

.u-section-1 .u-text-7 {
  font-size: 0.75rem;
  margin: 24px 0 0 10px;
}

.u-section-1 .u-repeater-item-3 {
  background-size: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-image-3 {
  width: 279px;
  right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-group-3 {
  width: 280px;
  min-height: 297px;
  background-size: auto;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  margin: 0 10px;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  margin: 20px 0 0 10px;
}

.u-section-1 .u-text-10 {
  font-size: 0.75rem;
  margin: 24px 0 0 10px;
}

.u-section-1 .u-repeater-item-4 {
  background-size: auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-1 .u-image-4 {
  width: 279px;
  right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-group-4 {
  width: 280px;
  min-height: 297px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.5rem;
  margin: 0 10px;
}

.u-section-1 .u-text-12 {
  font-size: 1.125rem;
  margin: 20px 0 0 10px;
}

.u-section-1 .u-text-13 {
  font-size: 0.75rem;
  margin: 24px 0 0 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-blog-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-bottom: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    margin-bottom: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    margin-bottom: initial;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-4 {
    margin-bottom: initial;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 30px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 20px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 764px;
}

.u-section-2 .u-blog-1 {
  margin-top: 0;
  margin-bottom: 55px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  grid-gap: 22px 22px;
  min-height: 709px;
}

.u-section-2 .u-repeater-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 280px;
  min-height: 297px;
  background-size: auto;
  margin: 30px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 10px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0 10px;
}

.u-section-2 .u-text-3 {
  font-size: 0.75rem;
  margin: 24px 0 0 10px;
}

.u-section-2 .u-image-1 {
  width: 280px;
  left: 0;
  right: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  width: 280px;
  min-height: 297px;
  background-size: auto;
  margin: 30px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 0 10px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 0 0 10px;
}

.u-section-2 .u-text-6 {
  font-size: 0.75rem;
  margin: 24px 0 0 10px;
}

.u-section-2 .u-image-2 {
  width: 280px;
  left: 0;
  right: auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-group-3 {
  width: 280px;
  min-height: 297px;
  background-size: auto;
  margin: 30px 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  margin: 0 10px;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px 0 0 10px;
}

.u-section-2 .u-text-9 {
  font-size: 0.75rem;
  margin: 24px 0 0 10px;
}

.u-section-2 .u-image-3 {
  width: 280px;
  left: 0;
  right: auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-group-4 {
  width: 280px;
  min-height: 297px;
  margin: 30px 0 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.5rem;
  margin: 0 10px;
}

.u-section-2 .u-text-11 {
  font-size: 1.125rem;
  margin: 20px 0 0 10px;
}

.u-section-2 .u-text-12 {
  font-size: 0.75rem;
  margin: 24px 0 0 10px;
}

.u-section-2 .u-image-4 {
  width: 280px;
  left: 0;
  right: auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 584px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 764px;
}

.u-section-3 .u-blog-1 {
  margin: 0 auto 25px 20px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  grid-gap: 22px 22px;
  min-height: 632px;
}

.u-section-3 .u-repeater-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-image-1 {
  width: 279px;
  right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-group-1 {
  width: 280px;
  min-height: 297px;
  background-size: auto;
  margin: 0 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 10px;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0 10px;
}

.u-section-3 .u-text-3 {
  font-size: 0.75rem;
  margin: 24px 0 0 10px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-3 .u-image-2 {
  width: 279px;
  right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-group-2 {
  width: 280px;
  min-height: 297px;
  background-size: auto;
  margin: 0 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  margin: 0 10px;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 0 0 10px;
}

.u-section-3 .u-text-6 {
  font-size: 0.75rem;
  margin: 24px 0 0 10px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-3 .u-image-3 {
  width: 279px;
  right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-group-3 {
  width: 280px;
  min-height: 297px;
  background-size: auto;
  margin: 0 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  margin: 0 10px;
}

.u-section-3 .u-text-8 {
  font-size: 1.125rem;
  margin: 20px 0 0 10px;
}

.u-section-3 .u-text-9 {
  font-size: 0.75rem;
  margin: 24px 0 0 10px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-3 .u-image-4 {
  width: 279px;
  right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-group-4 {
  width: 280px;
  min-height: 297px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-container-layout-8 {
  padding: 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.5rem;
  margin: 0 10px;
}

.u-section-3 .u-text-11 {
  font-size: 1.125rem;
  margin: 20px 0 0 10px;
}

.u-section-3 .u-text-12 {
  font-size: 0.75rem;
  margin: 24px 0 0 10px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-blog-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 530px;
  }

  .u-section-3 .u-image-1 {
    margin-bottom: initial;
  }

  .u-section-3 .u-image-2 {
    margin-bottom: initial;
  }

  .u-section-3 .u-image-3 {
    margin-bottom: initial;
  }

  .u-section-3 .u-image-4 {
    margin-bottom: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}