.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 567px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 31px;
  margin-bottom: 4px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 447px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 223px;
  width: 212px;
  margin: 0 13px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 21px 1px 0;
}

.u-section-1 .u-text-3 {
  margin: 19px 1px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 223px;
  width: 212px;
  margin: 0 13px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 21px 1px 0;
}

.u-section-1 .u-text-5 {
  margin: 19px 1px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 223px;
  width: 212px;
  margin: 0 13px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 21px 1px 0;
}

.u-section-1 .u-text-7 {
  margin: 19px 1px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  height: 223px;
  width: 212px;
  margin: 0 13px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 21px 1px 0;
}

.u-section-1 .u-text-9 {
  margin: 19px 1px 0;
}

.social-links {
  margin: 14px;
}

.social-links a {
  display: inline-block;
  height: 30px;
  width: 30px;
  transition: .4s;
}

.social-links a:hover {
  transform: scale(1.5);
}

.social-links a i {
  color: #444;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 396px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 586px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin: 60px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 396px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 223px;
  width: 212px;
  margin: 0 13px 0 0;
}

.u-section-2 .u-text-1 {
  margin: 21px 1px 0;
}

.u-section-2 .u-text-2 {
  margin: 19px 1px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 223px;
  width: 212px;
  margin: 0 13px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 21px 1px 0;
}

.u-section-2 .u-text-4 {
  margin: 19px 1px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 223px;
  width: 212px;
  margin: 0 13px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 21px 1px 0;
}

.u-section-2 .u-text-6 {
  margin: 19px 1px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 223px;
  width: 212px;
  margin: 0 13px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 21px 1px 0;
}

.u-section-2 .u-text-8 {
  margin: 19px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}