 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/26afbfd6f4b0f7d2c0352d2c78f559db.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-group-1 {
  width: 1127px;
  min-height: 240px;
  margin: 337px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 52px 60px 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
  margin: 28px 15px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-group-1 {
    position: relative;
    width: 940px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 79px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 57px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 146px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: -112px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  grid-gap: 30px 30px;
  min-height: 258px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 27px;
}

.u-section-2 .u-icon-1 {
  height: 89px;
  width: 89px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 14px 13px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 27px;
}

.u-section-2 .u-icon-2 {
  height: 89px;
  width: 89px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 25px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 14px 13px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 11px;
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
    min-height: 213px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -280px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 595px;
}

.u-section-3 .u-text-1 {
  font-family: "Alfa Slab One";
  font-size: 3.75rem;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-3 .u-text-2 {
  font-family: "Courier New", monospace;
  font-size: 1.625rem;
  margin: 15px 102px 0;
}

.u-section-3 .u-image-1 {
  width: 933px;
  height: 431px;
  margin: 10px auto;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 333px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 250px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 157px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 584px;
}

.u-section-4 .u-image-1 {
  width: 1099px;
  height: 534px;
  margin: 25px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-4 .u-image-1 {
    width: 940px;
    height: 456px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 399px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 349px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 262px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 165px;
  }
} .u-section-5 {
  background-image: linear-gradient(white, #4c7397);
}

.u-section-5 .u-sheet-1 {
  min-height: 745px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 46px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 982px;
  margin: 11px auto 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 636px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
}

.u-section-5 .u-image-1 {
  height: 438px;
  margin: 30px auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 597px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 298px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 609px;
  }

  .u-section-5 .u-image-1 {
    height: 417px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 571px;
  }

  .u-section-5 .u-image-2 {
    height: 283px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    height: 306px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-image-2 {
    height: 207px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 309px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    height: 510px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 374px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 63px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-image-1 {
    height: 314px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 63px;
  }

  .u-section-5 .u-image-2 {
    height: 230px;
    margin-right: initial;
    margin-left: initial;
  }
}
body {
  font-family: 'Signika', sans-serif;
}
.bg-grey {
  background: #292929;
}
.logo-footer {
  margin-bottom: 40px;
}
footer {
      color: grey;
}
footer p, a {
font-size: 12px;
font-family: 'Roboto', sans-serif;
}
footer h6 {
font-family: 'Playfair Display', serif;
margin-bottom: 40px;
position: relative;
}
footer h6:after {
position: absolute;
content: "";
background: grey;
width: 12%;
height: 1px;
left: 0;
bottom: -20px;
}
.btn-footer {
           color: grey;
        
          text-decoration: none;
          border: 1px solid;
          border-radius: 43px;
          font-size: 13px;
          padding: 7px 30px;
          line-height: 47px;
}
.btn-footer:hover {
          
          text-decoration: none;
         
}
.form-footer input[type="text"] {
  border: none;
border-radius: 16px 0 0 16px;
outline: none;
padding-left: 10px;

}
::placeholder {
font-size: 10px;
padding-left: 10px;
font-style: italic;
}
.form-footer input[type="button"] {
border: none;
background:#232323;
  margin-left: -5px;
color: #fff;
outline: none;
border-radius: 0 16px 16px 0;
padding: 2px 12px;
}
.social .fa {
color: grey;
font-size: 22px;
padding: 10px 15px;
background: #3c3c3c;
}
footer ul li {
list-style: none;
display: block;
}
footer ul  {
padding-left: 0;
}
footer ul  li a{
text-decoration: none;
color: grey;
text-decoration:none;
}
a:hover {
text-decoration: none;
color: #f5f5f5 !important;

}
.logo-part {
border-right: 1px solid grey;
height: 100%;
}